.navContainer {
  background-color: blue;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;

  .navContainer__Logo {

  }

  .navContainer__NavLinks {

  }

}
