.infoContainer {
  ///background-color: red;
  display: flex;
  flex-flow: row wrap;
  font-size: 2.75rem;
  font-weight: normal;
  justify-content: center;
  vertical-align: text-top;

  .infoContainer__Info {
    font-size: 1.9rem;
    margin-right: 48px;

    > h2 {
      font-size: 2.3rem;
      padding-bottom: 24px;
    }

    > div {
      margin: 8px 0;
      //display: none;
    }

  }

}
